@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 3500px;
}

#root {
    overflow-x: hidden;
}

@keyframes scaleUp {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }
  
  .scale-up:hover {
    animation: scaleUp 0.3s ease-out forwards;
  }
